<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue JS 2 Tutorail</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>
    <div id="app">
        <input type="text" placeholder="Enter name" v-model="name">
        <br><br>
        <input type="text"  placeholder="Enter age" v-model="age">
        <p>My name is {{name}}</p>
        <p>My age is {{age}}</p>
    </div>
    
    <script src="../Js/4-InputForm.js"></script>
</body>
</html>